/* Registrar a fonte Oswald */
@font-face {
  font-family: "Oswald";
  src: url("/fontes/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("/fontes/Oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Define Oswald como fonte padrão do Tailwind */
@theme {
  --font-sans: "Oswald", sans-serif;
}

/* Importa Tailwind APÓS definir o theme */
@import "tailwindcss";

/* Seu CSS global */
@custom-variant dark (&:where(.dark, .dark *));
:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}
